.jumbotron {
	text-align: center;
	font-family: Baloo;
	background:url(psychictoon.jpg);
	background-size:cover;
    background-position:center;
   
    
}

#name {
	color:#D90026;
	
	

}

h1 {
	padding-top: 285px;
}

.header2{
	text-align: center;
	font-family: Frijole, cursive;
}

p {
	color: gray ;
	text-align: center;
	font-size: x-large;
	font-family: Baloo;
}

#wins {
	color: #40FF00;

}

#losses {
	color: #D90026;
}

#guesses-left {
	color: #0000FF;
}

#guesses-so-far {
	color: #8904B1;
}

#footer{
	font-size: small;
}